<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />

    <attribution
        android:tag="default"
        android:label="@string/app_name" />

    <application
        android:name=".SyncApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Sync">
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.DeviceDetailActivity"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.ClipboardActivity"
            android:exported="false"
            android:parentActivityName=".ui.DeviceDetailActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.TerminalActivity"
            android:exported="false"
            android:parentActivityName=".ui.DeviceDetailActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.ReceivedFilesActivity"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.MediaControlActivity"
            android:exported="false" />
        <activity
            android:name=".ui.CameraStreamActivity"
            android:exported="false"
            android:parentActivityName=".ui.DeviceDetailActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.AudioSettingsActivity"
            android:exported="false"
            android:parentActivityName=".ui.DeviceDetailActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.MicStreamActivity"
            android:exported="false"
            android:parentActivityName=".ui.DeviceDetailActivity"
            android:windowSoftInputMode="adjustResize" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".system.SyncService"
            android:exported="false"
            android:foregroundServiceType="connectedDevice|camera|microphone" />

        <activity
            android:name=".ui.SendClipboardActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".ui.ShareActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@style/Theme.Sync.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <service
            android:name=".system.ClipboardTileService"
            android:exported="true"
            android:icon="@drawable/ic_clipboard"
            android:label="Send Clipboard"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

    </application>

</manifest>